<h1>Songs by <%= @artist.name %>:</h1>

<% @artist.songs.each do |song| %>
  <h3><%= song.name %></h3>
  <%= button_to "delete song", {:controller => :songs, :action => 'destroy', :id => song.id }, :method => :delete, data: {confirm: "Are you sure you want to delete #{song.name}?"}
 %>
<% end %>

<div>
  <%= render '/shared/formsong' %>
  <% @artist.errors.each do |attr, msg| %>
  <%= "#{attr} #{msg}" if @user.errors[attr].first == msg %>
  <% end %>
</div>
