<h1>Songs by <%= @artist.name %>:</h1>
<ul>
  <% @artist.songs.each do |song| %>
  <li><%= song.name %> <%= button_to "delete song", {controller: :songs, action: 'destroy', id: song.id }, method: :delete, data: {confirm: "Are you sure you want to delete #{song.name}?"}, class: 'deletebtn'
 %></li>
<% end %>
</ul>

<div>
  <%= render '/shared/formsong' %>
  <% @artist.errors.each do |attr, msg| %>
  <%= "#{attr} #{msg}" if @user.errors[attr].first == msg %>
  <% end %>
</div>
